<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/joincss.css">
</head>
<body>
    <center>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                  <div class="alert {{ category }}"> {{ message|capitalize }} </div>
                {% endfor %}
            {% endif %}
        {% endwith %}<br/>
    </center>
   
    <div class="loginbody">
    <form method="POST" action="/login" class="loginform">
        <h1>Login</h1>
        {% if error %}
            <p style="color: red;">{{error}}</p>
        {% endif %}
        {% if msg %}
            <p style="color: red;">{{msg}}</p>
        {% endif %}
        <label>Username: </label>
        <input type="text" id="username" name="username" required><br><br>
        <label>Password: </label>
        <input type="password" id="password" name="password" required>
        <input type="checkbox" onclick="showPasswordFunction('password')"><label>Show Password</label><br><br>
        <center>
            <input type="submit" value="Login"><br>
        </center>
        <label>Not a user? <a href="{{ url_for('register')}}">Register</a></label>  
    </form>
</div>
<script src="{{ url_for('static', filename='common.js') }}"></script>
</body>
</html>

